p {
    font-size:18px;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin:10px;
 letter-spacing: -.5px;
    
}
.list {
    display:flex;
    width:500px;
    height:900px;
color:black;
padding-top:50px;
padding-left:100px;
    margin:auto;    
   
    position:absolute;
}

.container {
    margin:auto;
    display:flex;
    width:400px;    
    height:700px;
  background-color: white;
    left:500px;
   top:50px;
   flex-wrap: wrap;
   justify-content: right;
   align-content:flex-start;
   row-gap: 0px;
   margin-top: 50px;
  
}
.box {
    width:70px;
    height:95px;
    margin:0px;
    border: .5px solid black;
}
.barcode {
    width:100%;
    height:auto;
    text-align:right;   
        font-family: "Libre Barcode 39 Extended Text", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size:40px;
        margin-top:10px;
        margin-right:2px;
}
.center {
    flex-direction: row;
    justify-content: center;
background-color: white;
    display:flex;
    width:414px;    
    height:750px;
    margin:auto;
}
.thirty {
    font-family: "obviously-extended", sans-serif;
    font-weight: 700;
    font-style: italic;
    width:400px;
    height:10px;
    background-color: yellow;
    display:inline-block;
    position:absolute;
    text-align:right;
    font-family: obviously-variable, sans-serif;
    font-size: 50px;
 line-height: 35px;
    
}