

p {
    display:inline-block;
    text-align: center;
    font-family: 'indivisble', sans-serif;
    width:300px;
    padding-top:25px;
    padding-bottom:25px;
    background-blend-mode:hard-light;
    color:white;
    font-size: 25px;
    line-height:10px;
letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
}
.mood-container {
    display: inline-block;
    position:relative;
    left: 355px;
    top: 260px;
}

.bar {
    background-color: rgb(38, 38, 38);
    width: 100vw;
    height: 35px;
    position: fixed;
    top: 0px;
    box-sizing:border-box;
    padding:20px;
}
.logo {
    font-size: 15px;
    font-family: 'indivisble', sans-serif;
    font-weight: 300;
color:white;
text-transform: uppercase;
letter-spacing: 3px;
position:absolute;
left: 10px;
top:10px;
margin-bottom:auto;
margin-top:auto;
}

html {
    background-color: black;
}
.border-buttons {
    display:none;
}

.one-bar {
    display:inline-block;
    width:300px;
    height: 600px;
    background-color: rgb(130, 130, 130);
  border-radius:150px;
  background-image: url(./images/molten.gif);
  background-size: 1100px;
  background-position: 50% 30%;
  box-sizing:border-box;
}
.one-bar:hover {
    background-image: url(./images/molten.gif);
    transition: background 0.3s;
}
.two-bar {
    display:inline-block;
    width:300px;
    height: 600px;
    background-color: rgb(38, 38, 38);
    background-image: url(./images/angry.gif);
  background-size: 800px;
  border-radius:150px;
  background-position: 50% 40%;
}

.two-bar:hover {
    background-image: url(./images/angry.gif));
    transition: background 0.3s;
}


.three-bar {
    display:inline-block;
    width:300px;
    height: 600px;
    border-radius:150px;
    background-color: rgb(38, 38, 38);
    box-sizing:border-box;
  background-image: url(./images/love.gif);
  background-size: 900px;
  background-position: 35% 60%;
}
.three-bar:hover {
    background-image: url(./images/love.gif);
    transition: background 0.3s;
}
.four-bar {
    display:inline-block;
    width:300px;
    height: 600px;
    background-color: rgb(38, 38, 38);
    border-radius:150px;
    box-sizing:border-box;
  background-image: url(./images/Stars.gif);
  background-size: 800px;
  background-position: 55% 60%;
}

.four-bar:hover {
    background-image: url(./images/Stars.gif);
    transition: background 0.3s;
}
.moods-container {
    display:inline-block;
    margin:100px;
    position:absolute;
    top:50px;
    border-radius: 15px;
}

.moods-container div{
    width: 20vw;
}

h1 {
    display:inline-block;
    margin-top:50px;
    position:absolute;
    style:caps;
    width: 100vw;
 text-align: center;
 font-family: 'indivisble', sans-serif;
 font-weight: 300;
font-size: 30px;
font-style: normal;
letter-spacing: 3px;
text-transform: uppercase;
line-height: 80px;
color: white;
}
